# Version Control
.git
.gitignore

# Python Cache
__pycache__
*.pyc
*.pyd
*.pyo

# Virtual Environments
*.env
*.env.*
!.env.example
.venv
env/
venv/
.python-version

*.sqlite3
node_modules/
static/blog_app/css/output.css
staticfiles/

# Dev Tools
